.main{
	width: 100%;
	display: flex;
}
.left{
	width: 25%;
	background-color: #FAEBD7;
	border: 2PX solid #0000;
	margin: 2px;
}
.right{
	width: 70%;
	background-color: #FFE4C4;
	border: 2px solid #0000;
margin:2px;
}