.main{
	width: 100%;
	border: 2px solid #000;
	margin: 2px;
	display: flex;
	flex-wrap:wrap;
}
.first{
	width: 100%;
	border: 2px solid #000;
	margin: 2px;
	display: flex;
	flex-wrap:wrap;
}
.left{
	width: 25%;
	background-color: lightgreen;
	border: 2px solid #000;
	margin: 5px;
}
.right{
	width: 50%;
	background-color: pink;
	border: 2px solid #000;
	margin: 5px;
}
#b{
	color: blue;
	font-size: 20px;
	font-style: italic;
}
img{
	width: 300px;
}table,td,tr{
	border: 2px solid #000;
	border-collapse: collapse;
	margin-left: 150px;
}